<div>
    <h2>
        <span jhiTranslate="bemApp.offer.home.title">Offers</span>
        <button class="btn btn-primary float-right jh-create-entity create-offer" [routerLink]="['/', { outlets: { popup: ['offer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bemApp.offer.home.createLabel">
            Create new Offer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="offers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bemApp.offer.price">Price</span></th>
            <th><span jhiTranslate="bemApp.offer.description">Description</span></th>
            <th><span jhiTranslate="bemApp.offer.availableOn">Available On</span></th>
            <th><span jhiTranslate="bemApp.offer.profile">Profile</span></th>
            <th><span jhiTranslate="bemApp.offer.request">Request</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let offer of offers ;trackBy: trackId">
                <td><a [routerLink]="['../offer', offer.id ]">{{offer.id}}</a></td>
                <td>{{offer.price}}</td>
                <td>{{offer.description}}</td>
                <td>{{offer.availableOn | date:'medium'}}</td>
                <td>{{offer.profile}}</td>
                <td>
                    <div *ngIf="offer.request">
                        <a [routerLink]="['../request', offer.request?.id ]" >{{offer.request?.description}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../offer', offer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'offer/'+ offer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'offer/'+ offer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
