<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOfferLabel" jhiTranslate="bemApp.offer.home.createOrEditLabel">Create or edit a Offer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!offer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="offer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.offer.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="offer.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.offer.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="offer.description" required/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.offer.availableOn" for="field_availableOn">Available On</label>
            <div class="d-flex">
                <input id="field_availableOn" type="datetime-local" class="form-control" name="availableOn" [(ngModel)]="offer.availableOn"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.offer.profile" for="field_profile">Profile</label>
            <input type="number" class="form-control" name="profile" id="field_profile"
                [(ngModel)]="offer.profile" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.offer.request" for="field_request">Request</label>
            <select class="form-control" id="field_request" name="request" [(ngModel)]="offer.request" >
                <option [ngValue]="null"></option>
                <option [ngValue]="requestOption.id === offer.request?.id ? offer.request : requestOption" *ngFor="let requestOption of requests; trackBy: trackRequestById">{{requestOption.description}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
