<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRequestLabel" jhiTranslate="bemApp.request.home.createOrEditLabel">Create or edit a Request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!request.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="request.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.request.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                [(ngModel)]="request.category" required/>
            <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.request.region" for="field_region">Region</label>
            <input type="text" class="form-control" name="region" id="field_region"
                [(ngModel)]="request.region" required/>
            <div [hidden]="!(editForm.controls.region?.dirty && editForm.controls.region?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.region?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.request.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="request.description" required/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.request.duration" for="field_duration">Duration</label>
            <div class="d-flex">
                <input id="field_duration" type="datetime-local" class="form-control" name="duration" [(ngModel)]="request.duration"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.request.expPrice" for="field_expPrice">Exp Price</label>
            <input type="number" class="form-control" name="expPrice" id="field_expPrice"
                [(ngModel)]="request.expPrice" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.request.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + request.imageContentType + ';base64,' + request.image" style="max-height: 100px;" *ngIf="request.image" alt="request image"/>
                <div *ngIf="request.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{request.imageContentType}}, {{byteSize(request.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, request, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="request.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="request.imageContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.request.profile" for="field_profile">Profile</label>
            <input type="number" class="form-control" name="profile" id="field_profile"
                [(ngModel)]="request.profile" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.request.posted" for="field_posted">Posted</label>
            <div class="d-flex">
                <input id="field_posted" type="datetime-local" class="form-control" name="posted" [(ngModel)]="request.posted"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
