<div>
    <h2>
        <span jhiTranslate="bemApp.request.home.title">Requests</span>
        <button class="btn btn-primary float-right jh-create-entity create-request" [routerLink]="['/', { outlets: { popup: ['request-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bemApp.request.home.createLabel">
            Create new Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="requests">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bemApp.request.category">Category</span></th>
            <th><span jhiTranslate="bemApp.request.name">Name</span></th>
            <th><span jhiTranslate="bemApp.request.duration">Duration</span></th>
            <th><span jhiTranslate="bemApp.request.expPrice">Exp Price</span></th>
            <th><span jhiTranslate="bemApp.request.user">User</span></th>
            <th><span jhiTranslate="bemApp.request.profile">Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let request of requests ;trackBy: trackId">
                <td><a [routerLink]="['../request', request.id ]">{{request.id}}</a></td>
                <td jhiTranslate="{{'bemApp.Category.' + request.category}}">{{request.category}}</td>
                <td>{{request.name}}</td>
                <td>{{request.duration | date:'medium'}}</td>
                <td>{{request.expPrice}}</td>
                <td>{{request.user}}</td>
                <td>
                    <div *ngIf="request.profile">
                        <a [routerLink]="['../profile', request.profile?.id ]" >{{request.profile?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../request', request.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'request/'+ request.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'request/'+ request.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
