
<div *ngIf="request">
    <h2><span jhiTranslate="bemApp.request.detail.title">Request</span> {{request.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bemApp.request.category">Category</span></dt>
        <dd>
            <span>{{request.category}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.request.region">Region</span></dt>
        <dd>
            <span>{{request.region}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.request.description">Description</span></dt>
        <dd>
            <span>{{request.description}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.request.duration">Duration</span></dt>
        <dd>
            <span>{{request.duration | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.request.expPrice">Exp Price</span></dt>
        <dd>
            <span>{{request.expPrice}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.request.image">Image</span></dt>
        <dd>
            <div *ngIf="request.image">
                <a (click)="openFile(request.imageContentType, request.image)">
                    <img [src]="'data:' + request.imageContentType + ';base64,' + request.image" style="max-width: 100%;" alt="request image"/>
                </a>
                {{request.imageContentType}}, {{byteSize(request.image)}}
            </div>
        </dd>
        <dt><span jhiTranslate="bemApp.request.profile">Profile</span></dt>
        <dd>
            <span>{{request.profile}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.request.posted">Posted</span></dt>
        <dd>
            <span>{{request.posted | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'request/'+ request.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
