
<div *ngIf="lastMinuteService">
    <h2><span jhiTranslate="bemApp.lastMinuteService.detail.title">Last Minute Service</span> {{lastMinuteService.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bemApp.lastMinuteService.category">Category</span></dt>
        <dd>
            <span>{{lastMinuteService.category}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.lastMinuteService.description">Description</span></dt>
        <dd>
            <span>{{lastMinuteService.description}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.lastMinuteService.price">Price</span></dt>
        <dd>
            <span>{{lastMinuteService.price}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.lastMinuteService.address">Address</span></dt>
        <dd>
            <span>{{lastMinuteService.address}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.lastMinuteService.available">Available</span></dt>
        <dd>
            <span>{{lastMinuteService.available | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.lastMinuteService.location">Location</span></dt>
        <dd>
            <span>{{lastMinuteService.location}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.lastMinuteService.image">Image</span></dt>
        <dd>
            <div *ngIf="lastMinuteService.image">
                <a (click)="openFile(lastMinuteService.imageContentType, lastMinuteService.image)">
                    <img [src]="'data:' + lastMinuteService.imageContentType + ';base64,' + lastMinuteService.image" style="max-width: 100%;" alt="lastMinuteService image"/>
                </a>
                {{lastMinuteService.imageContentType}}, {{byteSize(lastMinuteService.image)}}
            </div>
        </dd>
        <dt><span jhiTranslate="bemApp.lastMinuteService.profile">Profile</span></dt>
        <dd>
            <span>{{lastMinuteService.profile}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'last-minute-service/'+ lastMinuteService.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
