<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLastMinuteServiceLabel" jhiTranslate="bemApp.lastMinuteService.home.createOrEditLabel">Create or edit a Last Minute Service</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lastMinuteService.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lastMinuteService.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.category" for="field_category">Category</label>
            <select class="form-control" name="category" [(ngModel)]="lastMinuteService.category" id="field_category" >
                <option value="FACE">{{'bemApp.Category.FACE' | translate}}</option>
                <option value="BODY">{{'bemApp.Category.BODY' | translate}}</option>
                <option value="MEN">{{'bemApp.Category.MEN' | translate}}</option>
                <option value="DENTAL">{{'bemApp.Category.DENTAL' | translate}}</option>
                <option value="HAIR">{{'bemApp.Category.HAIR' | translate}}</option>
                <option value="HEALTH">{{'bemApp.Category.HEALTH' | translate}}</option>
                <option value="WELLBEING">{{'bemApp.Category.WELLBEING' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="lastMinuteService.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="lastMinuteService.time"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="lastMinuteService.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="lastMinuteService.address" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.user" for="field_user">User</label>
            <input type="number" class="form-control" name="user" id="field_user"
                [(ngModel)]="lastMinuteService.user" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.profile" for="field_profile">Profile</label>
            <select class="form-control" id="field_profile" name="profile" [(ngModel)]="lastMinuteService.profile" >
                <option [ngValue]="null"></option>
                <option [ngValue]="profileOption.id === lastMinuteService.profile?.id ? lastMinuteService.profile : profileOption" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
