<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLastMinuteServiceLabel" jhiTranslate="bemApp.lastMinuteService.home.createOrEditLabel">Create or edit a Last Minute Service</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lastMinuteService.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lastMinuteService.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.category" for="field_category">Category</label>
            <input type="number" class="form-control" name="category" id="field_category"
                [(ngModel)]="lastMinuteService.category" required/>
            <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.category?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="lastMinuteService.description" required/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="lastMinuteService.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="lastMinuteService.address" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.available" for="field_available">Available</label>
            <div class="d-flex">
                <input id="field_available" type="datetime-local" class="form-control" name="available" [(ngModel)]="lastMinuteService.available"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                [(ngModel)]="lastMinuteService.location" required/>
            <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.location?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + lastMinuteService.imageContentType + ';base64,' + lastMinuteService.image" style="max-height: 100px;" *ngIf="lastMinuteService.image" alt="lastMinuteService image"/>
                <div *ngIf="lastMinuteService.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{lastMinuteService.imageContentType}}, {{byteSize(lastMinuteService.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, lastMinuteService, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="lastMinuteService.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="lastMinuteService.imageContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteService.profile" for="field_profile">Profile</label>
            <input type="number" class="form-control" name="profile" id="field_profile"
                [(ngModel)]="lastMinuteService.profile" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
