<div>
    <h2>
        <span jhiTranslate="bemApp.lastMinuteService.home.title">Last Minute Services</span>
        <button class="btn btn-primary float-right jh-create-entity create-last-minute-service" [routerLink]="['/', { outlets: { popup: ['last-minute-service-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bemApp.lastMinuteService.home.createLabel">
            Create new Last Minute Service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lastMinuteServices">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="category"><span jhiTranslate="bemApp.lastMinuteService.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="bemApp.lastMinuteService.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="bemApp.lastMinuteService.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span jhiTranslate="bemApp.lastMinuteService.address">Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="available"><span jhiTranslate="bemApp.lastMinuteService.available">Available</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="location"><span jhiTranslate="bemApp.lastMinuteService.location">Location</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="image"><span jhiTranslate="bemApp.lastMinuteService.image">Image</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="profile"><span jhiTranslate="bemApp.lastMinuteService.profile">Profile</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lastMinuteService of lastMinuteServices ;trackBy: trackId">
                <td><a [routerLink]="['../last-minute-service', lastMinuteService.id ]">{{lastMinuteService.id}}</a></td>
                <td>{{lastMinuteService.category}}</td>
                <td>{{lastMinuteService.description}}</td>
                <td>{{lastMinuteService.price}}</td>
                <td>{{lastMinuteService.address}}</td>
                <td>{{lastMinuteService.available | date:'medium'}}</td>
                <td>{{lastMinuteService.location}}</td>
                <td>
                    <a *ngIf="lastMinuteService.image" (click)="openFile(lastMinuteService.imageContentType, lastMinuteService.image)">
                        <img [src]="'data:' + lastMinuteService.imageContentType + ';base64,' + lastMinuteService.image" style="max-height: 30px;" alt="lastMinuteService image"/>
                    </a>
                    <span *ngIf="lastMinuteService.image">{{lastMinuteService.imageContentType}}, {{byteSize(lastMinuteService.image)}}</span>
                </td>
                <td>{{lastMinuteService.profile}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../last-minute-service', lastMinuteService.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'last-minute-service/'+ lastMinuteService.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'last-minute-service/'+ lastMinuteService.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="lastMinuteServices && lastMinuteServices.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
