<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAppointmentLabel" jhiTranslate="bemApp.appointment.home.createOrEditLabel">Create or edit a Appointment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!appointment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="appointment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.appointment.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="appointment.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.appointment.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="appointment.address" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.appointment.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="appointment.time"
                />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="bemApp.appointment.profile" for="field_profile">Profile</label>
            <select class="form-control" id="field_profile" multiple name="profile" [(ngModel)]="appointment.profiles">
                <option [ngValue]="getSelected(appointment.profiles, profileOption)" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
