<div>
    <h2>
        <span jhiTranslate="bemApp.categories.home.title">Categories</span>
        <button class="btn btn-primary float-right jh-create-entity create-categories" [routerLink]="['/', { outlets: { popup: ['categories-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bemApp.categories.home.createLabel">
            Create new Categories
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="categories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bemApp.categories.category">Category</span></th>
            <th><span jhiTranslate="bemApp.categories.appointment">Appointment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categories of categories ;trackBy: trackId">
                <td><a [routerLink]="['../categories', categories.id ]">{{categories.id}}</a></td>
                <td>{{categories.category}}</td>
                <td>
                    <div *ngIf="categories.appointment">
                        <a [routerLink]="['../appointment', categories.appointment?.id ]" >{{categories.appointment?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../categories', categories.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'categories/'+ categories.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'categories/'+ categories.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
