<ion-header>
    <ion-navbar>
        <ion-title>Appointment</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                  {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
            <span color="primary" showWhen="ios">
              {{ 'DONE_BUTTON' | translate }}
            </span>
            <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Address" formControlName="address"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Time</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="time" id="field_time"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Profile</ion-label>
                <ion-select id="field_profile" multiple="true" formControlName="profiles" [compareWith]="compareProfile">
                    <ion-option [value]="profileOption" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
