
<div *ngIf="lastMinuteOffer">
    <h2><span jhiTranslate="bemApp.lastMinuteOffer.detail.title">Last Minute Offer</span> {{lastMinuteOffer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bemApp.lastMinuteOffer.name">Name</span></dt>
        <dd>
            <span>{{lastMinuteOffer.name}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.lastMinuteOffer.profile">Profile</span></dt>
        <dd>
            <span>{{lastMinuteOffer.profile}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.lastMinuteOffer.service">Service</span></dt>
        <dd>
            <div *ngIf="lastMinuteOffer.service">
                <a [routerLink]="['/last-minute-service', lastMinuteOffer.service?.id]">{{lastMinuteOffer.service?.description}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'last-minute-offer/'+ lastMinuteOffer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
