<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLastMinuteOfferLabel" jhiTranslate="bemApp.lastMinuteOffer.home.createOrEditLabel">Create or edit a Last Minute Offer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lastMinuteOffer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lastMinuteOffer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteOffer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="lastMinuteOffer.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteOffer.profile" for="field_profile">Profile</label>
            <input type="number" class="form-control" name="profile" id="field_profile"
                [(ngModel)]="lastMinuteOffer.profile" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.lastMinuteOffer.service" for="field_service">Service</label>
            <select class="form-control" id="field_service" name="service" [(ngModel)]="lastMinuteOffer.service" >
                <option [ngValue]="null"></option>
                <option [ngValue]="lastMinuteServiceOption.id === lastMinuteOffer.service?.id ? lastMinuteOffer.service : lastMinuteServiceOption" *ngFor="let lastMinuteServiceOption of lastminuteservices; trackBy: trackLastMinuteServiceById">{{lastMinuteServiceOption.description}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
