<ion-header>
    <ion-navbar>
        <ion-title>Profiles</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let profile of profiles; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(profile)">
                <h2>{{profile.name}}</h2>
                <p>{{profile.phNumber}}</p>
                <ion-avatar *ngIf="profile.picture">
                    <img [src]="'data:' + profile.pictureContentType + ';base64,' + profile.picture" />
                    <span *ngIf="profile.picture">{{profile.pictureContentType}}, {{byteSize(profile.picture)}}</span>
                </ion-avatar>
                <!-- todo: what to do when it's a byte[] or ByteBuffer? In normal entity generatory, an open link is rendered -->
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, profile)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(profile)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!profiles?.length">
        No Profiles found.
    </ion-item>
</ion-content>
