
<div *ngIf="message">
    <h2><span jhiTranslate="bemApp.message.detail.title">Message</span> {{message.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bemApp.message.time">Time</span></dt>
        <dd>
            <span>{{message.time | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.message.content">Content</span></dt>
        <dd>
            <span>{{message.content}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.message.appointment">Appointment</span></dt>
        <dd>
            <div *ngIf="message.appointment">
                <a [routerLink]="['/appointment', message.appointment?.id]">{{message.appointment?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'message/'+ message.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
