<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProfileLabel" jhiTranslate="bemApp.profile.home.createOrEditLabel">Create or edit a Profile</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!profile.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="profile.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.profile.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="profile.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.profile.phNumber" for="field_phNumber">Ph Number</label>
            <input type="text" class="form-control" name="phNumber" id="field_phNumber"
                [(ngModel)]="profile.phNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.profile.picture" for="field_picture">Picture</label>
            <div>
                <img [src]="'data:' + profile.pictureContentType + ';base64,' + profile.picture" style="max-height: 100px;" *ngIf="profile.picture" alt="profile image"/>
                <div *ngIf="profile.picture" class="form-text text-danger clearfix">
                    <span class="pull-left">{{profile.pictureContentType}}, {{byteSize(profile.picture)}}</span>
                    <button type="button" (click)="clearInputImage('picture', 'pictureContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_picture" (change)="setFileData($event, profile, 'picture', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="picture" id="field_picture"
                [(ngModel)]="profile.picture" />
            <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                [(ngModel)]="profile.pictureContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.profile.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="profile.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === profile.user?.id ? profile.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="bemApp.profile.location" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" [(ngModel)]="profile.location" >
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id === profile.location?.id ? profile.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.region}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
