<div>
    <h2>
        <span jhiTranslate="bemApp.profile.home.title">Profiles</span>
        <button class="btn btn-primary float-right jh-create-entity create-profile" [routerLink]="['/', { outlets: { popup: ['profile-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bemApp.profile.home.createLabel">
            Create new Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="profiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bemApp.profile.name">Name</span></th>
            <th><span jhiTranslate="bemApp.profile.phNumber">Ph Number</span></th>
            <th><span jhiTranslate="bemApp.profile.picture">Picture</span></th>
            <th><span jhiTranslate="bemApp.profile.user">User</span></th>
            <th><span jhiTranslate="bemApp.profile.location">Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profile of profiles ;trackBy: trackId">
                <td><a [routerLink]="['../profile', profile.id ]">{{profile.id}}</a></td>
                <td>{{profile.name}}</td>
                <td>{{profile.phNumber}}</td>
                <td>
                    <a *ngIf="profile.picture" (click)="openFile(profile.pictureContentType, profile.picture)">
                        <img [src]="'data:' + profile.pictureContentType + ';base64,' + profile.picture" style="max-height: 30px;" alt="profile image"/>
                    </a>
                    <span *ngIf="profile.picture">{{profile.pictureContentType}}, {{byteSize(profile.picture)}}</span>
                </td>
                <td>
                    {{profile.user?.login}}
                </td>
                <td>
                    <div *ngIf="profile.location">
                        <a [routerLink]="['../location', profile.location?.id ]" >{{profile.location?.region}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../profile', profile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'profile/'+ profile.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'profile/'+ profile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
