
<div *ngIf="profile">
    <h2><span jhiTranslate="bemApp.profile.detail.title">Profile</span> {{profile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bemApp.profile.name">Name</span></dt>
        <dd>
            <span>{{profile.name}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.profile.phNumber">Ph Number</span></dt>
        <dd>
            <span>{{profile.phNumber}}</span>
        </dd>
        <dt><span jhiTranslate="bemApp.profile.picture">Picture</span></dt>
        <dd>
            <div *ngIf="profile.picture">
                <a (click)="openFile(profile.pictureContentType, profile.picture)">
                    <img [src]="'data:' + profile.pictureContentType + ';base64,' + profile.picture" style="max-width: 100%;" alt="profile image"/>
                </a>
                {{profile.pictureContentType}}, {{byteSize(profile.picture)}}
            </div>
        </dd>
        <dt><span jhiTranslate="bemApp.profile.user">User</span></dt>
        <dd>
            {{profile.user?.login}}
        </dd>
        <dt><span jhiTranslate="bemApp.profile.location">Location</span></dt>
        <dd>
            <div *ngIf="profile.location">
                <a [routerLink]="['/location', profile.location?.id]">{{profile.location?.region}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'profile/'+ profile.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
