<ion-header>
    <ion-navbar>
        <ion-title>Last Minute Services</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let lastMinuteService of lastMinuteServices; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(lastMinuteService)">
                <p>{{lastMinuteService.category}}</p>
                <p>{{lastMinuteService.description}}</p>
                <p>{{lastMinuteService.available | date:'medium'}}</p>
                <p>{{lastMinuteService.location}}</p>
                <p>{{lastMinuteService.price}}</p>
                <p>{{lastMinuteService.address}}</p>
                <ion-avatar *ngIf="lastMinuteService.image">
                    <img [src]="'data:' + lastMinuteService.imageContentType + ';base64,' + lastMinuteService.image" />
                    <span *ngIf="lastMinuteService.image">{{lastMinuteService.imageContentType}}, {{byteSize(lastMinuteService.image)}}</span>
                </ion-avatar>
                <!-- todo: what to do when it's a byte[] or ByteBuffer? In normal entity generatory, an open link is rendered -->
                <p>{{lastMinuteService.profile}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, blog)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(lastMinuteService)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!lastMinuteServices?.length">
        No Last Minute Services found.
    </ion-item>
</ion-content>
